node_modules
.tmp
.vscode
package-lock.json
yarn.lock
build
.DS_Store

_AUX/*
!.gitkeep

**/*.map

yarn-error.log

# OSX Files
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows image file caches
Thumbs.db

dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
